{% extends "base.html" %}

{% block title%} Главная страница {% endblock %}

{% block body %}
    <div class="container text-center my-5">
      <h3>Какая то пицца</h3>
      <img src="https://media.dodostatic.net/image/r:292x292/0198da9ee2dd75038d9b6f7f23810d42.avif" alt="Pizza" />
      <a class="btn btn-warning" href="/create-article">Подробнее</a>


      <h3>Какая то пицца</h3>
      <img src="https://media.dodostatic.net/image/r:292x292/0198da9ee2dd75038d9b6f7f23810d42.avif" alt="Pizza" />
      <a class="btn btn-warning" href="/create-article">Подробнее</a>

	</div>
{% endblock %}